name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: [ backend, frontend ]
        include:
          - service: backend
            image: expense-backend
          - service: frontend
            image: expense-frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Debug Secrets
        run: echo "Username is ${{ secrets.DOCKERHUB_USERNAME }}"

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.service }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/expense-tracker-${{ matrix.service }}:latest,${{ secrets.DOCKERHUB_USERNAME }}/expense-tracker-${{ matrix.service }}:${{ github.sha }}